@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #79a6a4; 
}

h1 {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  color: #3b3b3b;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #9d9d9d,
               1px 2px 0px #9d9d9d,
               1px 3px 0px #9d9d9d,
               1px 4px 0px #9d9d9d,
               1px 5px 0px #9d9d9d,
               1px 6px 0px #9d9d9d;

}
h2 {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  color: #e5e5e5;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #f9f9f9,
               1px 2px 0px #f9f9f9,
               1px 3px 0px #f9f9f9,
               1px 4px 0px #f9f9f9,
               1px 5px 0px #f9f9f9,
               1px 6px 0px #f9f9f9;
}

.Visualisation {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  background-color: #ffffff; 
}

.dataviz {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: 2px;
}

.Buttons {
  margin: left;
  width: 97%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(#6d9ea0, #a6bcab);
}

.category {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.category:focus {
  color: #171e29;
}

.category:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.category:active,
.category.active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .category {
    min-width: 170px;
  }
}

/* Hover ToolTip*/
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}
